body {
    font-family: "Pretendary", sans-serif;
}

.main_project {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/03.PROJECT/main/Project-main.png);
    height: 960px;
    margin: 0 auto;
    width: 100%;
    padding-top: 3em;
}

.main_project_inner {
    display: flex;
    position: relative;
    max-width: 1920px;
    height: 960px;
    margin: 0 auto;
    gap: 19.75em;
}

.project-left {
    margin: 29.69em 0 11.25em 21.88em;
}

.title-box .section-title {
    font-size: 5.25em;
    font-weight: 600;
    line-height: 100px;
    margin-bottom: 16px;
    color: #fff;
}

.title-box .sub-title {
    font-size: 1.5em;
    font-weight: 500;
    line-height: 29px;
    color: #fff;
    margin-bottom: 30px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18.44em;
    height: 3.25em;
    text-align: center;
    line-height: 52px;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
}

.btn-black {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11.88em;
    height: 3.25em;
    background-color: #000;
    color: #fff;
}

.project-right {
    position: absolute;
    left: 50%;
    top: 90px;
    width: 592px;
    height: 741px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.project-right .project-tab-menu {
    display: flex;
    gap: 34px;
    margin-top: 24px;
    font-size: 1.5em;
    font-weight: 500;
    color: #A3A1A1;
}

.project-right .project-tab-menu .active {
    color: #fff;
    font-weight: 600;
}

.project-right .project-tab-menu>li {
    padding: 16px 0;
}

.project-type-list .text-box {
    text-align: right;
    padding: 10px 16px 0 0;
    color: #fff;
    font-weight: 300;
    line-height: 19px;
}

.project-right .tab-circle {
    display: flex;
    gap: 12px;
}

.project-right .tab-circle span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #4D4D4D;
}

.project-right .tab-circle .active {
    background-color: #D5D5D5;
}

/* .project-right .project-type-list>div{
    display: none;
}
.project-right .project-type-list>.active{
    display: block;
} */
.project-type-office,
.project-type-stay,
.project-type-fb {
    display: none;
}

/* lounge */
.lounge_project {
    background-color: #EFF2F6;
}

.lounge-left .section-title {
    color: #000;
}

.lounge-left .sub-title {
    color: #4E4E4E
}

.lounge_project_inner {
    /* height: 960px; */
    display: flex;
    gap: 86px;
    max-width: 1920px;
    margin: 0 auto;
    padding: 190px 0 230px;
}

.lounge-left {
    margin-left: 7.3%;
}

.lounge-right {}

.lounge-right .lounge-list {
    display: flex;
    gap: 1.25em;
    /* overflow: hidden; */
}


.lounge-right .lounge-list>li {
    flex: 0 0 calc((100% - 10px) / 4);

}

/* work office */
.work-space-wrap {
    background-color: #505050;
}

.work-space-wrap>.inner {
    max-width: 1920px;
    margin: 0 auto;
    padding: 200px 0 230px;
}

.work-space-wrap .bg-btn {
    position: relative;
    /* background-color: pink; */
    width: 100%;
    height: 60px;
}

.work-space-wrap .btn {
    margin-bottom: 26px;
    position: absolute;
    right: 35%;

}

.work-space-list>li .text-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 50px 80px;
    opacity: 0;
    transition: 0.5s;
}

.work-space-list>.swiper-slide-active .text-box {
    opacity: 1;
}

/* .work-space-list .text-box>h3{
    font-size: 2.5em;
} */



/* progress */
.progress .inner {
    max-width: 1640px;
    margin: 0 auto;
}

.progress .section-title {
    padding: 76px 0 1em;
    font-size: 2em;
    font-weight: 600;
}

.progress .detail {
    margin-bottom: 3em;
    font-size: 1.5em;
    font-weight: 500;
}

.progress-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.progress-list>li {
    /* width: 100%; */
    flex: 1;
    text-align: center;
    border-right: 1px solid #ccc;
}

.progress-list:last-child {
    border-right: none;
}

.progress-set {
    padding: 1em 0;
}

.progress-set p {
    font-size: 1.25em;
    font-weight: 500;
}

.progress-set .step {
    margin: 0.6em 0;
}

.progress-set img {
    width: 40px;
}

.progress-end {
    margin: 4.75em 0 3.5em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.progress-end .sub-title {
    font-size: 1.5em;
}



/* =========================
   Tablet : 1024px 이하
========================= */
@media (max-width: 1024px) {

    /* ---------- Main Project ---------- */

    .main_project {
        height: auto;
        min-height: 800px;
        padding-top: 0;
    }

    .main_project_inner {
        height: auto;
        min-height: 800px;
        padding: 0 5%;
        gap: 0;
    }

    .project-left {
        /* margin: 400px 0 100px 0;
        z-index: 2; */
        width: 42%;
    }

    .title-box .section-title {
        line-height: 1.1;
    }

    .title-box .sub-title {
        line-height: 1.4;
        font-size: 1.12em;
    }

    .project-right {
        left: auto;
        right: 5%;
        width: 48%;
        max-width: 500px;
    }




    /* ---------- Project Tab ---------- */

    .project-right .project-tab-menu {
        gap: 20px;
    }


    /* ---------- Lounge ---------- */

    .lounge_project_inner {
        gap: 40px;
        padding: 120px 5% 150px;
    }

    .lounge-left {
        margin-left: 0;
        flex: 0 0 30%;
    }

    .lounge-right {
        width: 70%;
        min-width: 0;
        overflow: hidden;
    }

    .lounge-right .lounge-list {
        gap: 16px;
    }

    .lounge-right .lounge-list>li {
        flex: 0 0 70%;
    }


    /* ---------- Work Space ---------- */

    .work-space-wrap>.inner {
        padding: 140px 5% 160px;
    }

    .work-space-wrap .btn {
        right: 5%;
    }

    .work-space-list>li .text-box {
        padding: 30px;
    }


    /* ---------- Progress ---------- */

    .progress .inner {
        padding: 0 5%;
    }

}


/* =========================
   Mobile : 768px 이하
========================= */
@media (max-width: 768px) {

    /* ---------- Main Project ---------- */

    .main_project {
        min-height: auto;
        height: auto;
    }

    .main_project_inner {
        min-height: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 80px 20px 60px;
    }

    .project-left {
        margin: 0 0 40px;
    }

    .title-box .section-title {
        line-height: 1.1;
        font-size: 4em;;
    }

    .title-box .sub-title {
        margin-bottom: 20px;
    }

    .btn {
        width: 100%;
        max-width: 295px;
        max-height: 35px;
    }

    .btn-black{
        width:100%;
        max-width:190px;
    }


    /* ---------- Project Card ---------- */

    .project-right {
        position: relative;
        left: auto;
        right: auto;
        top: auto;

        width: 100%;
        height: auto;
        min-height: 560px;

        padding-bottom: 30px;
    }

    .project-right .project-tab-menu {
        width: 100%;
        justify-content: center;
        gap: 16px;
        flex-wrap: wrap;
    }

    .project-right .project-tab-menu>li {
        padding: 12px 0;
    }

    .project-type-list {
        width: 100%;
        padding: 0 20px;
    }

    .project-type-list .img-box {
        width: 100%;
    }

    .project-type-list .img-box img {
        display: block;
        width: 100%;
        height: auto;
    }

    .project-type-list .text-box {
        padding: 8px 5px 0 0;
    }


    /* ---------- Lounge ---------- */

    .lounge_project_inner {
        display: flex;
        flex-direction: column;

        gap: 40px;
        padding: 80px 20px 100px;
    }

    .lounge-left {
        width: 100%;
        margin-left: 0;
    }

    .lounge-left .btn{
        max-width:170px;
        width: 100%;
    }

    .lounge-right {
        width: 100%;
        overflow: hidden;
    }

    .lounge-right .lounge-list {
        gap: 16px;
    }

    .lounge-right .lounge-list>li {
        flex: 0 0 75%;
    }

    .lounge-right .lounge-list>li img {
        width: 100%;
        height: auto;
        display: block;
    }





    /* ---------- Work Space ---------- */

    .work-space-wrap>.inner {
        padding: 80px 20px 100px;
    }

    .work-space-wrap .bg-btn {
        height: 52px;
    }

    .work-space-wrap .btn {
        position: relative;
        right: auto;
        margin-left: auto;
        margin-bottom: 20px;

        width:100%;
        max-width: 100px;
        max-height: 30px;
        line-height: 48px;
    }



    .work-space-list>li .text-box {
        padding: 25px;
    }


    /* ---------- Progress ---------- */

    .progress .inner {
        padding: 0 20px;
    }

    .progress .section-title {
        padding-top: 60px;
        text-align: center;
    }

    .progress .detail {
        line-height: 1.6;
    }

    .progress-list {
        flex-direction: column;
    }

    .progress-list>li {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #ccc;
    }

    .progress-list>li:last-child {
        border-bottom: none;
    }

    .progress-set {
        padding: 25px 0;
    }

    .progress-end {
        margin: 50px 0;
        text-align: center;
    }


    .progress-end .btn{
        width:100%;
        max-width:180px;
    }
}