/* ==================================== main ==================================== */
.mine-vanner {
    padding: 5em 0 5em 0;
    position: relative;
}

.mine-vanner>.m-img-box {
    display: none;
}

.mine-vanner>.img-box>img {
    width: 100%;
}

.title-box {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    /* padding: 0 0.63em ; */
}

.mine-vanner>.text-box>p {
    font-weight: 800;
    color: #797674;
}

.title-box>.title {
    padding: 0;
    font-size: 2.75em;
    font-weight: 600;
    letter-spacing: -0.05em;
    text-align: center;
    word-break: keep-all;
    overflow-wrap: break-word;
    max-width: 100%;
    line-height: 1.3;
    letter-spacing: 0.02em;
}

.Product-list-wrap>ul {
    display: flex;
    padding: 2em 0 1.5em;
    gap: 1.88em;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.40);
}

.Product-list-wrap>ul>li:first-child {
    font-weight: 700;
    color: #000000;
}

.Product-goods-list {
    /* padding-top: 2.31em; */
    display: flex;
    flex-direction: column;
    gap: 1.88em;
}

.Product-goods-list img {
    width: 49.81em;
}

.Product-goods-list ul {
    display: flex;
    justify-content: space-between;
    gap: 1.88em;
}

.Product-goods-list .goods-left {
    padding: 1.88em 1.25em 0;
}

.Product-goods-list .goods-left>.goods-name {
    font-size: 1.13em;
}

.Product-goods-list .goods-left>div>.goods-right {
    font-weight: 700;
    color: #FF5252;
}

.Product-goods-list .goods-left>div {
    display: flex;
    justify-content: space-between;
    font-size: 1.13em;
    font-weight: 600;
    /* color: #3D3D3D; */
    padding-top: 0.7em;
}

.Product-goods-list .goods-left .goods-price {
    display: flex;
}

.sale {
    padding-left: 0.44em;
    text-decoration: line-through;
    color: #A7A7A7;
    font-weight: 300;
}


.page-list {
    display: flex;
    justify-content: center;
    gap: 2.31em;
    padding: 6.88em 0;
    /* font-size: 1.25em; */
    font-weight: 600;
}

.page-list>p:nth-child(2),
.page-list>p:nth-child(3) {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.45);
}



/* 아이패드 */
@media screen and (max-width:1279px) {
    .Product-list-wrap {
        padding-left: 1.88em;
    }

    .mine-vanner>.text-box {
        font-size: 2em;
    }
}

/* 모바일 */
@media screen and (max-width:767px) {
    .mine-vanner {
        padding-top: 0;
    }

    .mine-vanner>.img-box {
        display: none;
    }

    .mine-vanner>.m-img-box>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .mine-vanner>.m-img-box {
        display: flex;
        height: 60vh;
        position: relative;
    }

    .Product-goods-list ul {
        flex-direction: column;
    }

    .Product-goods-list {
        padding: 0 1em;
    }

    .Product-goods-list img {
        width: 100%;
    }

    .mine-vanner>.text-box {
        top: 30%;
        left: 10%;
        font-size: 2.5em;
    }
}