body {
    font-family: "Pretendary", sans-serif;
}

.main_project {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(../images/03.PROJECT/main/Project-main.png);
    height: 960px;
    margin: 0 auto;
    width: 100%;
}

.main_project_inner {
    display: flex;
    position: relative;
    max-width: 1920px;
    height: 960px;
    margin: 0 auto;
}

.project-left {
    margin: 475px 0 180px 350px;
}

.title-box .section-title {
    font-size: 84px;
    font-weight: 600;
    line-height: 100px;
    margin-bottom: 16px;
    color: #fff;
}

.title-box .sub-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    color: #fff;
    margin-bottom: 30px;
}

.btn {
    display: block;
    width: 295px;
    height: 52px;
    text-align: center;
    line-height: 52px;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
}

.btn-black {
    display: block;
    width: 190px;
    height: 52px;
    background-color: #000;
    color: #fff;
}

.project-right {
    position: absolute;
    left: 50%;
    top: 90px;
    width: 592px;
    height: 741px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.project-right .project-tab-menu {
    display: flex;
    gap: 34px;
    margin-top: 24px;
    font-size: 24px;
    font-weight: 500;
    color: #A3A1A1;
}

.project-right .project-tab-menu .active {
    color: #fff;
    font-weight: 600;
}

.project-right .project-tab-menu>li {
    padding: 16px 0;
}

.project-type-list .text-box {
    text-align: right;
    padding: 10px 16px 0 0;
    color: #fff;
    font-weight: 300;
    line-height: 19px;
}

.project-right .tab-circle {
    display: flex;
    gap: 12px;
}

.project-right .tab-circle span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #4D4D4D;
}

.project-right .tab-circle .active {
    background-color: #D5D5D5;
}

/* .project-right .project-type-list>div{
    display: none;
}
.project-right .project-type-list>.active{
    display: block;
} */
.project-type-office,
.project-type-stay,
.project-type-fb {
    display: none;
}

/* lounge */
.lounge_project {
background-color: #EFF2F6;
}
.lounge-left .section-title {
    color: #000;
}

.lounge-left .sub-title {
    color: #4E4E4E
}

.lounge_project_inner {
    /* height: 960px; */
    display: flex;
    gap: 86px;
    max-width: 1920px;
    margin: 0 auto;
    padding: 190px 0 230px;
}

.lounge-left {
    margin-left: 7.3%;
}

.lounge-right {}

.lounge-right .lounge-list {
    display: flex;
    gap: 1.25em;
    /* overflow: hidden; */
}

.lounge-right .lounge-list>li {
    flex: 0 0 calc((100% - 10px) / 4);

}

/* work office */
.work-space-wrap{
    background-color: #505050;
}
.work-space-wrap>.inner {
    max-width: 1920px;
    margin: 0 auto;
    padding: 200px 0 230px;
}

.work-space-wrap .bg-btn {
    position: relative;
    /* background-color: pink; */
    width: 100%;
    height: 60px;
}

.work-space-wrap .btn {
    margin-bottom: 26px;
    position: absolute;
    right: 35%;

}

.work-space-list>li .text-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 50px 80px;
    opacity: 0;
    transition: 0.5s;
}

.work-space-list>.swiper-slide-active .text-box {
    opacity: 1;
}

/* .work-space-list .text-box>h3{
    font-size: 2.5em;
} */

/* progress */
.progress .inner {
    max-width: 1640px;
    margin: 0 auto;
}

.progress .section-title {
    padding: 76px 0 1em;
    font-size: 2em;
    font-weight: 600;
}

.progress .detail {
    margin-bottom: 3em;
    font-size: 1.5em;
    font-weight: 500;
}

.progress-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.progress-list>li {
    /* width: 100%; */
    flex: 1;
    text-align: center;
    border-right: 1px solid #ccc;
}

.progress-list:last-child {
    border-right: none;
}
.progress-set{
    padding: 1em 0;
}
.progress-set p{
    font-size: 1.25em;
    font-weight: 500;
}
.progress-set .step{
    margin: 0.6em 0;
}
.progress-set img {
    width: 40px;
}

.progress-end {
    margin: 4.75em 0 3.5em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.progress-end .sub-title{
    font-size: 1.5em;
}